body{
    padding: 0;
    margin:0;
}
header{
    background-color: aliceblue;
    padding:0;
    padding-top:12px;  
    margin:0;
    height: 80px;
}
.title{
    margin-top:0;
    color: aqua;
    text-align: center;
}
